{% extends "userapp/base.html" %}
{% load static %}

{% block back %}
    <li class="nav-item"><a href="{% url 'userapp:dictionaries' user_pk=user.pk %}" class="nav-link">Back to Authors</a></li>
{% endblock %}

{% block content %}
    <div class="wrapper-userpage">
        <div class="container-fluid">
            <div class="row justify-content-center">

                <div class="col-sm-12 col-md-8 my-1">
                    <div class="shadow p-1">
                        <h6 class="text-center">Add authors/dictionaries:</h6>
                        <form action="{% url 'userapp:dictionaries' user_pk=user.pk %}" method="post">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-12">
                                {% for i in author_form %}
                                    {{ i }}
                                {% endfor %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <input class="input-author" type="submit" value="Save">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}