<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/v4-shims.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a href="#" class="navbar-brand">{{ user.username|capfirst }}</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-menu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
                <li class="nav-item"><a href="{% url 'auth:authlogout' %}" class="nav-link">Logout</a></li>
                <li class="nav-item"><a href="{% url 'userapp:dictionaries' user_pk=user.pk %}" class="nav-link">Your Dictionaries</a></li>
                <li class="nav-item"><a href="{% url 'excerptapp:createexcerpts' user_pk=user.pk %}" class="nav-link">Your Excerpts</a></li>
                <li class="nav-item"><a href="{% url 'phraseapp:createphrase' user_pk=user.pk %}" class="nav-link">Your Phrases</a></li>
                {% block back %}
                {% endblock %}
                 <li class="nav-item ">
                    <ul class="navbar-nav text-white d-md-none d-lg-none d-sm-flex flex-row">
                        <li class="nav-item my-auto mr-auto"><i class="fas fa-share-alt "></i></li>
                        <li class="nav-item"><a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a></li>
                        <li class="nav-item ml-3"><a href="#" class="nav-link"><i class="fab fa-twitter"></i></a></li>
                        <li class="nav-item ml-3"><a href="#" class="nav-link"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}
    {% endblock %}

    <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-bottom d-md-flex d-sm-none d-none">
        <p class="mb-0 text-white">&copy;All rights reserved.</p>
        <ul class="navbar-nav text-white ml-auto">
            <li class="nav-item my-auto mr-2"><i class="fas fa-share-alt"></i></li>
            <li class="nav-item ml-2"><a href="#" class="nav-link"><i class="fab fa-facebook-f"></i></a></li>
            <li class="nav-item ml-2"><a href="#" class="nav-link"><i class="fab fa-twitter"></i></a></li>
            <li class="nav-item ml-2"><a href="#" class="nav-link"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
        </ul>
    </nav>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>